<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <!-- <ion-tab-button tab="dashboard" -->
      <ion-tab-button button (click)="goToDashboard()">
        <ion-icon name="easel-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <!-- [style.color]="'#428cff'" -->
        <ion-tab-button button (click)="goToCategory()">
          <ion-icon name="cart"></ion-icon>
          <ion-label>Produse</ion-label>
        </ion-tab-button>
  
      <ion-tab-button button (click)="goToClients()">
        <ion-icon name="people"></ion-icon>
        <ion-label>Clienți</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
