<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-button (click)="goBack()" fill="clear">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title style="text-align: center; font-weight: bold; color: rgb(4, 4, 85);">
        Adăugați un client nou
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <section style="margin-top: 2em;">
        <div class="container">
          <ion-label>Nume client:</ion-label>
          <ion-input type="text" placeholder="Nume client" [(ngModel)]="inputName"></ion-input>
        </div>
      </section>
      <section style="margin-top: 2em;">
        <div class="container">
          <ion-label>Adresa:</ion-label>
          <ion-input type="text" placeholder="Adresa" [(ngModel)]="inputAddress"></ion-input>
        </div>
      </section>
      <section style="margin-top: 2em;">
        <div class="container">
          <ion-label>CUI/CNP:</ion-label>
          <ion-input type="text" placeholder="CUI" [(ngModel)]="inputVatNumber"></ion-input>
        </div>
      </section>
      <section style="margin-top: 2em;">
        <div class="container">
          <ion-label>Nume bancă:</ion-label>
          <ion-input type="text" placeholder="Nume banca" [(ngModel)]="inputBankName"></ion-input>
        </div>
      </section>
      <section style="margin-top: 2em;">
        <div class="container">
          <ion-label>Număr cont:</ion-label>
          <ion-input type="text" placeholder="Numar bancar" [(ngModel)]="inputBankNumber"></ion-input>
        </div>
      </section>
      <section style="margin-top: 2em;">
        <div class="container">
          <ion-label>Număr de telefon:</ion-label>
          <ion-input type="text" placeholder="Numar de telefon" [(ngModel)]="inputTelephoneNumber"></ion-input>
        </div>
      </section>
      <section style="margin-top: 2em;">
        <div class="container">
          <ion-label>Adresa de email:</ion-label>
          <ion-input type="text" placeholder="Adresa" [(ngModel)]="inputEmailAddress"></ion-input>
        </div>
      </section>
    </ion-card-content>

    <ion-card-content>
      <ion-button (click)="addClient()">
        Adaugă client
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
