.grid-item{
    text-align: center;
}

.cart{
    float: right;
}

ion-item{
    border-radius: 1em;
    font-weight: bold;
}

img{
    margin-top: 1em;
}

ion-searchbar{
    color: grey;
    background-color: white;
}

.list{
    background-color: white;
}