.title{
    text-align: center;
    font-weight: bold;
    color: rgb(10, 10, 119);
}

.client-name{
    text-align: center;
    color: rgb(10, 10, 119);
}

.orders{
    background-color: rgba(255, 255, 255, 0.541);
    color: rgb(10, 10, 119);
}

.order{
    font-weight: bold;
}