ion-card{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #f4f4f4 !important;
    font-weight: bold;
}

ion-card:first-child{
    margin-top: 0.7em;
}

ion-card:last-child{
    margin-bottom: 3em;
}

.title{
    margin-left: 12%;
    margin-top: 1.7em;
    // color: var(--ion-color-medium);
    color: rgb(5, 91, 131);
    font-size: large;
    font-weight: bold;
}

.details{
    color: rgb(2, 62, 90);
    font-weight: bold;
}

ion-card:hover{
    --background: rgb(95, 188, 211) !important;
    --background: linear-gradient(90deg, rgba(95,188,211,1) 21%, rgba(0,212,255,1) 54%, rgba(2,0,36,1) 100%) !important;
}