ion-card{
    background-color: #f4f4f4a2 !important;
    // color: rgb(83, 184, 231);
    // color: rgb(97, 97, 97);
    color: rgb(88, 88, 88);
}
ion-card-title{
    // color: rgb(83, 184, 231);
    color: rgb(136, 135, 135);
}

.subtitle{
    color:rgb(5, 91, 131);
    font-weight: bold;
    font-size: large;
}

.orderDetails{
    color:rgb(5, 91, 131);
}

.PDF{
    color: red;
}